<div id="<%= dom_id animal %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Species:</strong>
    <%= animal.species %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= animal.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sex:</strong>
    <%= animal.sex %>
  </div>
</div>
